services:
  postgres:
    container_name: postgres
    image: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - strattan-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  strattan-oakmant-first:
    container_name: strattan-oakmant-first
    build:
      context: ./app-boot-service
      dockerfile: Dockerfile
    image: strattan-oakmant
    ports:
      - '8081:8081'
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      JVM_OPTS:
        -Dspring.profiles.active=local
        -Dspring.datasource.username=postgres
    networks:
      - strattan-network
    command: first
  strattan-oakmant-second:
    container_name: strattan-oakmant-second
    build:
      context: ./app-boot-service
      dockerfile: Dockerfile
    image: strattan-oakmant
    ports:
      - '8082:8081'
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      JVM_OPTS:
        -Dspring.profiles.active=local
        -Dspring.datasource.username=postgres
    networks:
      - strattan-network
    command:
      - second
networks:
  strattan-network: