spring:
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true
  datasource:
    jdbc-url: jdbc:postgresql://postgres:5432/postgres
    username: postgres
    password: postgres
  liquibase:
    change-log: db.changelog/db.changelog-master.xml
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
server:
  servlet:
    context-path: "/api"
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include : "*"

logging:
  level:
    com:
      ifmo: debug

app:
  cache:
    coursesTtlSeconds: 60
    tokenTtlSeconds: 3600